@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto", serif;
    background-color: #efefef !important;   
}
/* ----------------------------------------------------- Header  ----------------------------------------------------- */
header {
    width: 100%; height: 120px;
    /* background-color: aqua;   */
    position: sticky;
    top: 0;
    z-index: 999;
}
header .logo-shop {
    width: 20%; height: 100%;
}
header .logo-shop .image-logo {
    width: 50%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
header .logo-shop .image-logo img {
    width: 120px; height: 120px;
}
header .logo-shop .name-shop {
    width: 50%; height: 100%;
    display: flex;
    align-items: center;
}
header .logo-shop .name-shop p {
    font-size: 30px;
    font-weight: 700;
}
header .category1 {
    width: 50%; height: 100%;
    /* background-color: rgb(49, 55, 55);    */
   display: grid;
   place-items: center;
}
header .category1 nav a {
    position: relative;
    margin-left: 60px;
    text-decoration: none;
    color: #000000;
    font-family: "Teko", serif;
    font-size: 30px;
    font-weight: 500;
}
.category1 nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: black;
    bottom: -5px;
    left: 50%;
    font-weight: 500;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.category1 nav a:hover::before {
    width: 100%;
}
header .category2 {
    width: 30%;
    height: 100%;
    /* background-color: rgb(98, 209, 105); */
    display: flex;
    justify-content: end;
    align-items: center;
}

header .category2 nav {
    margin-right: 50px;
}

header .category2 nav i {
    color: #000000;
    font-size: 25px;
    padding-left: 12px;
    cursor: pointer;
}
header .category2 nav #search-icon {
    position: relative;
    padding-right: 12px;
}

header .category2 nav .search-input {
    height: 35px;
    width: 0;
    position: absolute;
    right: 0; /* Initially positioned on the right */
    top: 0;
    outline: none;
    border-radius: 26px;
    border: 1px solid #000000;
    font-size: 17px;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    padding-left: 15px;
}

header .category2 #search-icon:hover .search-input {
    opacity: 1;
    width: 230px; /* Expands the width */
}

/* -----------------------------------------------------  Footer  ----------------------------------------------------- */
footer {
    width: 100%; height: 200px;
    background-color: #000000;
}
footer .top-info {
    width: 100%; height: 150px;
    /* background-color: rgb(202, 219, 234); */
}
footer .top-info .left {
    width: 50%; height: 100%;
}
footer .top-info .left .menu-category-footer {
    width: 100%; height: 50%;
    /* background-color: rgb(178, 189, 198); */
    align-items: end;
    padding-left: 55px;
}
footer .top-info .left .menu-category-footer li {
    margin: 5px 0;
    list-style: none;
    margin-right: 25px;
    font-size: 18.5px;
}
.hover-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #e1e52a;
    transition: color 0.5s ease;
}

.hover-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #165ec3d8;    
    transition: width 0.3s ease;
}

.hover-underline:hover {
    color: #165ec3d8; /* Change text color on hover */
}

.hover-underline:hover::after {
    width: 100%;
}
footer .top-info .left .icon-social-media {
    width: 100%; height: 50%;
    /* background-color: rgb(0, 140, 255); */
    padding-left: 55px;

}
footer .top-info .left .icon-social-media .icon-link i {
    font-size: 25px;
    margin-right:20px;
    cursor: pointer;
    color: #e1e52a;
}
.icon-social-media .icon-link i:hover {
    color: #165ec3d8 !important;    
    transition: 0.3s;
}
footer .top-info .right {
    width: 50%; height: 100%;
    /* background-color: rgb(41, 255, 191);    */
}
